/*    --------------------------------------------------
    :: Drag and Drop
    -------------------------------------------------- */
body {
    background-color: #26272B;
}

.marco {
    border: 2px solid white;
}

.marco-height-1 {
    height: 100px;
}

.marco-height-2 {
    height: 200px;
}

#imagenes img, .marco img {
    padding: 0.1em;
}

.marco img { 
    width: 100%;
}

#imagenes img {
    padding: 0.1em;
    width: 23%;
    cursor: move;
}

#imagenes {
    text-align: center;
}

.photoboth {
    padding-top: 1.7em;
    padding-bottom: 1em;
    color: #8ea5f9;
}

.recibe {
    padding-top: 30px;
}

.padding-drop {
    padding: 0.1em;
}