/*    --------------------------------------------------
    :: Drag and Drop
    -------------------------------------------------- */
body {
    background-color: #26272B;
}

.marco {
    border: 2px solid white;
}

.marco-height-1 {
    height: 100px;
}

.marco-height-2 {
    height: 200px;
}

#imagenes img, .marco img {
    width: 100%;
}

.img-padding {
    padding: 0.1em;
}

.photoboth {
    padding: 30px;
}

.recibe {
    padding-top: 30px;
}